/* Geral */
* {
    padding: 0;
    margin: 0;
    font-family: 'Ubuntu', sans-serif;
}

body {
    background-color: #262626;
}

.fixed-spotify {
    position: fixed;
    bottom: 10px;
    right: 10px;
    border-radius: 100%;
    background-color: transparent;
    border: none;
}

.fixed-spotify a:hover {
    border: none;
}

.fixed-spotify .img-spotify {
    width: 40px;
}

.row {
    max-width: 180px;
    display: flex;
    align-items: center;
    border: 1px solid;
    padding: 5px;
    border-radius: 50px;
    transition: 0.5s;
}

.row strong {
    color: #24D561;
    transition: 0.5s;
    padding: 5px;
    display: block;
}

.row:hover {
    border-color: #1eb653;
    background-color: #000000;
}

.row strong:hover {
    color: #1eb653;
}

ul {
    list-style: none;
}

a {
    text-decoration: none;
    color: #eee;
    transition: 0.4s;
}

a:hover {
    color: #E50000;
    text-decoration: none;
}


#navbar {
    border-bottom: 2px solid #3a3a3a;
    background-color: #24242448;
    color: #e0e0e0;
    position: fixed; /* Set the navbar to fixed position */
    top: 0px; /* Position the navbar at the top of the page */
    width: 100%; /* Full width */
}

#navbar-inner {
    display: flex;
    justify-content: space-between;
    max-width: 1200px;
    margin: 0 auto;
    padding: 1.5rem 1.5rem;
}

#logo-page {
    height: 23pt;
}

#nav-links {
    display: flex;
    gap: 1rem;
    margin-top: 5px;
}

/* Conteúdo Principal */

.container {
    display: flex;
    gap: 3rem;
    padding: 2rem 1.5rem;
    max-width: 1200px;
    margin: 80px auto;
}

#posts-container {
    flex: 3 1 0;
}

.post {
    margin-bottom: 2.5rem;
}

.post img {
    width: 100%;
    margin-bottom: 1rem;
    border-radius: 5px 5px 0px 0px;
    border-bottom: 1px solid #242424;
}

.title, 
.description,
.author {
    margin-bottom: 1rem; 
    color: #b4b4b4;  
}

.description-biblio {
    margin-bottom: 1rem;
}

.active {
    color: #960000;
    font-weight: bold;
}

.description-biblio {
    color: #b4b4b4;
    line-height: 25px;
}

.description-biblio strong {
    color: #b66767;
}

.description strong {
    color: #b66767;
}

.title {
    font-size: 2rem;
}

.author {
    color: #e0e0e0;
    font-weight: bold;
}

/* Barra Lateral */

#sidebar {
    flex: 1 1 0;
}

#search-bar,
#categories,
#contador,
#tags {
    padding: 1.5rem;
    border: 1px solid #707070;
    border-radius: 2px;
    margin-bottom: 1rem;
}

#search-bar h4,
#categories h4,
#contador h4,
#tags h4 {
    color: #c2c2c2;
    margin-bottom: 1.5rem;
    font-size: 1.6rem;
}

#contador h2{
    color: #960000;
}

#contador  {
    display: flex;
    align-items: center;
    justify-content: center;
}

#contador img, 
#contador b {
    filter: invert(100%);
}

#search-bar form{
    display: flex;
}

#search-bar input {
    padding: 0.5rem 1rem;
    border: 1px solid #960000;
    outline-color: #960000;
    background-color: transparent;
    color: #eee;
}

#search-bar input[type="text"] {
    border-radius: 10px 0px 0px 10px;
}

#search-bar input[type="text"]:focus {
    outline: none;
}
 
#search-bar input[type="submit"] {
    cursor: pointer;
    border-radius: 0px;
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;
    background-color: #960000;
    color: #fff;
}

#categories li {
    margin-bottom: 1rem;
}
 
#tags-container {
    display: flex;
    flex-wrap: wrap;
    gap: 0.5rem;
}

#tags-container a {
    background-color: #3a3a3a;
    padding: .5rem  .7rem;
    border-radius: .3rem;
}

#tags-container a:hover {
    background-color: #d3d3d3;
    box-shadow: 0px 0px 5px #d3d3d3;
}

/* Rodapé */

#footer {
    border-top: 2px solid #3a3a3a;
    padding: 2rem ;
    text-align: center;
}

#footer img {
    width: 100px;
}

#footer h2,
#footer p {
    color: #b4b4b4;
    margin-bottom: 1rem;
}

@media (max-width: 1200px) {
    a b {
        display: none !important;
    }

    .container {
        flex-wrap: wrap;
    }
}

/* Responsividade */

@media (max-width: 900px) {
    .container {
        flex-wrap: wrap;
    }    

    .ul-redes {
        justify-content: center !important;
        gap: 10px !important;
        flex-wrap: wrap !important;
        padding: 30px !important;
        flex-direction: row;
    }

    .li-redes {
        width: 30%;
        border: none;
        padding: 10px 20px !important;
    }

    .row strong {
        display: none;
    }

    a b {
        display: none !important; 
    }

    #navbar img{
        margin-left: 0px;
    }

    #img {
        margin-left: 0px !important;
    }

    #search-bar {
        justify-content: center;
        align-items: center;
        padding: 1.5rem;
        min-width: 300px;
    }

    #search-bar input[type="text"] {
        width: 75%;
    }

    #search-bar input[type="submit"] {
        width: 25%;
    }

    .text-img {
        background: none !important;
        text-align: center;
        border-bottom: 1px solid #b4b4b4;
        border-radius: 0px !important;
    }

    .img-jao-biblio {
        display: block !important;
    }


    .text-img h3 {
        width: 100%;
        font-size: 50px !important;
        color: #dfdfdf !important;
        justify-content:center !important;
    } 

    .bottom {
        border-bottom: 0px dashed transparent !important;
        padding-bottom: 0px !important;
    }
    
    .top {
        border-top: 0px dashed transparent !important;
        padding-top: 0px !important;
    }

    .poster img {
        max-width: 400px;
    }

}

/* biografia */

.bottom {
    border-bottom: 1px dashed #ccc;
    padding-bottom: 20px;
}

.top {
    border-top: 1px dashed #ccc;
    padding-top: 20px;
}

.img-biblio img {
    text-align: center;
}

.text-img {
    width: 100%;
    display: flex; 
    align-items: center;
    background-position: center;
    background-size: cover;
    border-radius: 5px;
    margin-bottom: 20px;
}

.text-img h3 {
    color: #ddd;
    margin-left: 10px; 
    font-weight: bold; 
    font-size: 60pt; 
    margin-bottom: 10px; 
    margin-top: 10px; 
    padding: 0px;
}

.ul-redes {
    display: flex;
    gap: 6px;
    text-align: center;
    justify-content: center;
    align-items: center;
    border: 1px solid #3b3b3b;
    border-radius: 10px;
    justify-content: space-between;
    padding: 10px;
}

.img-logo {
    width: 50px !important;
    border-radius: 10px !important;
    background-color: transparent !important;
    box-shadow: 0px 1px 10px rgba(0,0,0,.1);
}

.ul-redes .spo,
.ul-redes .x,
.ul-redes .tiktok,
.ul-redes .insta,
.ul-redes .face,
.ul-redes .you{
    border: 1px solid #474747;
}

.spo:hover {
    border: 1px solid #1eb653;
}

.face:hover {
    border: 1px solid #3b5998;
}

.x:hover, .tiktok:hover {
    border: 1px solid #000000;
}

.you:hover {
    border: 1px solid #960000;
}


.insta:hover{
    border: 1px solid #b66767;
}

.li-redes {
    border-radius: 10px;
    width: 80px;
    padding: 10px;
    border: 2px solid #474747;
    transition: 0.5s;
}

.li-redes:hover {
    box-shadow: 0px 3px 10px rgba(0,0,0,.25);
}

.li-redes a:hover {
    font-weight: 500;
    text-decoration: none;
}

/* Links Redes Socias Personalizado */

.spo a:hover {
    color: #1eb653;
}

.face a:hover {
    color: #3b5998;
}

.tiktok a:hover {
    color: #cecece;
}

.x a:hover {
    color: #cecece;
    font-weight: bold;
}

.li-redes:hover {
    box-shadow: 0px 3px 10px rgba(0,0,0,.25);
}

/* Álbuns */

.card {
    border: 1px solid #3b3b3b;
    width: 300px;
    padding: 10px;
    border-radius: 10px;
    text-align: center;
    padding-bottom: 20px;
}

.card h3 {
    border: 1px solid #3b3b3b;
    border-radius: 5px;
    color: #dfdfdf;
    font-size: 20pt;
    margin-bottom: 20px;
}

.card .link-card {
    color: #fff;
    background-color: #960000;
    padding: 10px 25px;
    border-radius: 10px;
    transition: 0.5s;
    font-weight: bold;
}

.card .link-card:hover {
    color: #960000;
    background-color: transparent;
    border: 1px #960000 solid;
    padding: 10px 25px;
    font-weight: bold;
    border-radius: 10px;
}

.img-card {
    width: 300px !important;
}

.faixa-cards {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
}

/* Eventos e Shows */

.poster img {
    width: 600px;
    border-radius: 5px;
    outline: 1px solid #ccc;
    outline-offset: 5px;
    outline-style: double;
}

.poster {
    max-width: 600px;
    margin: 0 auto;
    text-align: center;
    margin-bottom: 50px;
}

/* Criadores */

.title-page-criadores {
    font-size: 30pt;
    color: #c2c2c2;
    text-align: center;
    margin-bottom: 25px;
}

/* Finalizando Seção de Projeto de Blog Semântico com HTML5 e CSS3 (23.08.2023) => {19:05}; */